org.contikios.cooja.Cooja.MOTETYPES = + org.contikios.cooja.mspmote.ESBMoteType org.contikios.cooja.mspmote.SkyMoteType org.contikios.cooja.mspmote.Z1MoteType org.contikios.cooja.mspmote.WismoteMoteType org.contikios.cooja.mspmote.Exp5438MoteType org.contikios.cooja.mspmote.CC430MoteType org.contikios.cooja.mspmote.Exp1120MoteType org.contikios.cooja.mspmote.Exp1101MoteType org.contikios.cooja.mspmote.Exp2420MoteType org.contikios.cooja.mspmote.Trxeb2520MoteType org.contikios.cooja.mspmote.Trxeb1120MoteType org.contikios.cooja.mspmote.Eth1120MoteType
org.contikios.cooja.Cooja.JARFILES = + cooja_mspsim.jar mspsim.jar coffee.jar jipv6.jar
org.contikios.cooja.Cooja.PLUGINS = + org.contikios.cooja.mspmote.plugins.MspCLI org.contikios.cooja.mspmote.plugins.MspCodeWatcher org.contikios.cooja.mspmote.plugins.MspStackWatcher org.contikios.cooja.mspmote.plugins.MspCycleWatcher
