org.contikios.cooja.Cooja.MOTETYPES = org.contikios.cooja.motes.DisturberMoteType org.contikios.cooja.contikimote.ContikiMoteType org.contikios.cooja.mspmote.ESBMoteType org.contikios.cooja.mspmote.SkyMoteType
org.contikios.cooja.Cooja.PLUGINS = org.contikios.cooja.plugins.Visualizer org.contikios.cooja.plugins.LogListener org.contikios.cooja.plugins.MoteInformation org.contikios.cooja.plugins.MoteInterfaceViewer org.contikios.cooja.plugins.VariableWatcher org.contikios.cooja.plugins.EventListener org.contikios.cooja.plugins.RadioLogger org.contikios.cooja.mspmote.plugins.MspCodeWatcher org.contikios.cooja.mspmote.plugins.MspStackWatcher org.contikios.cooja.mspmote.plugins.MspCycleWatcher
org.contikios.cooja.Cooja.POSITIONERS = org.contikios.cooja.positioners.RandomPositioner org.contikios.cooja.positioners.LinearPositioner org.contikios.cooja.positioners.EllipsePositioner org.contikios.cooja.positioners.ManualPositioner
org.contikios.cooja.Cooja.RADIOMEDIUMS = org.contikios.cooja.radiomediums.UDGM org.contikios.cooja.radiomediums.UDGMConstantLoss org.contikios.cooja.radiomediums.DirectedGraphMedium org.contikios.mrm.MRM org.contikios.cooja.radiomediums.SilentRadioMedium
