PATH_C_COMPILER=mingw32-gcc
CMD_GREP_PROCESSES = grep '^PROCESS_THREAD[ ]*([^,]*,[^,]*,[^)]*)' -o -d skip -D skip -H -r
CMD_GREP_INTERFACES = grep '^SIM_INTERFACE([^,]*,' -o -d skip -D skip -H -r
CMD_GREP_SENSORS = grep '^SENSORS_SENSOR([^,]*,' -o -d skip -D skip -H -r
COMPILER_ARGS=-D__int64\="long long" -Wall -I'$(JAVA_HOME)/include' -I'$(JAVA_HOME)/include/win32' -fno-builtin-printf
LINK_COMMAND_1 = mingw32-gcc -shared -Wl,-Map=$(MAPFILE) -Wl,--add-stdcall-alias -o $(LIBFILE)
LINK_COMMAND_2 = -L/usr/lib/mingw
PARSE_WITH_COMMAND = true

# Hack: nm with arguments -S --size-sort does not display __data_start symbols
PARSE_COMMAND=sh -c "/bin/nm -aP --size-sort -S $(LIBFILE) && /bin/nm -aP $(LIBFILE)"

COMMAND_VAR_NAME_ADDRESS_SIZE = ^[_]([^.].*?)[ \t]<SECTION>[ \t]([0-9a-fA-F]+)[ \t]([0-9a-fA-F]+)
COMMAND_DATA_START = ^__data_start__[ \t]D[ \t]([0-9A-Fa-f]*)
COMMAND_DATA_END = ^__data_end__[ \t]D[ \t]([0-9A-Fa-f]*)
COMMAND_BSS_START = ^__bss_start__[ \t]B[ \t]([0-9A-Fa-f]*)
COMMAND_BSS_END = ^__bss_end__[ \t]B[ \t]([0-9A-Fa-f]*)
COMMAND_READONLY_START = ^.rodata[ \t]r[ \t]([0-9A-Fa-f]*)
COMMAND_READONLY_END = ^.eh_frame_hdr[ \t]r[ \t]([0-9A-Fa-f]*)
