# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto whitespace=trailing-space

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ihex binary
*.s37 binary
