[submodule "tools/mspsim"]
	path = tools/mspsim
	url = https://github.com/contiki-os/mspsim.git
[submodule "tools/cc2538-bsl"]
	path = tools/cc2538-bsl
	url = https://github.com/JelmerT/cc2538-bsl.git
[submodule "cpu/cc26xx-cc13xx/lib/cc26xxware"]
	path = cpu/cc26xx-cc13xx/lib/cc26xxware
	url = https://github.com/g-oikonomou/cc26xxware.git
[submodule "cpu/cc26xx-cc13xx/lib/cc13xxware"]
	path = cpu/cc26xx-cc13xx/lib/cc13xxware
	url = https://github.com/g-oikonomou/cc13xxware.git
[submodule "platform/stm32nucleo-spirit1/stm32cube-lib"]
	path = platform/stm32nucleo-spirit1/stm32cube-lib
	url = https://github.com/STclab/stm32nucleo-spirit1-lib

