[submodule "tools/mspsim"]
	path = tools/mspsim
	url = https://github.com/contiki-os/mspsim.git
[submodule "tools/cc2538-bsl"]
	path = tools/cc2538-bsl
	url = https://github.com/JelmerT/cc2538-bsl.git
[submodule "cpu/cc26xx/lib/cc26xxware"]
	path = cpu/cc26xx/lib/cc26xxware
	url = https://github.com/g-oikonomou/cc26xxware.git
