#Cooja External Tools (User specific)
#Thu Feb 21 02:18:54 BRT 2019
FRAME_WIDTH=2147483647
LOG_LISTENER_SAVEFILE=/home/renato/IC/SBCUP/contiki/tools/cooja/loglistener.txt
SIMCFG_HISTORY=/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/20_3.csc;/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/20_2.csc;/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/2.csc;/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/20_1.csc;/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/teste.csc;/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/20.csc;/home/renato/IC/contiki-feg/tools/cooja/contiki_tests/20.csc
COMPILE_LAST_FILE=[CONTIKI_DIR]/examples/er-rest-example-harvesting/er-example-server.c
SHOW_QUICKHELP=true
FRAME_HEIGHT=2147483647
FRAME_SCREEN=\:0.0
FRAME_POS_Y=24
FRAME_POS_X=65
EXECUTE_JAR_LAST=/home/renato/IC/SBCUP/contiki/tools/cooja/contiki_tests/20e2.jar
DEFAULT_PROJECTDIRS=
