#Cooja External Tools (User specific)
#Sun Jan 20 21:52:17 BRT 2019
FRAME_WIDTH=2147483647
SIMCFG_HISTORY=/home/rjlmota/GERCOM/SBCUP/contiki/tools/cooja/contiki_tests/10.csc;/home/rjlmota/GERCOM/SBCUP/contiki/tools/cooja/contiki_tests/20.csc;/home/rjlmota/GERCOM/contiki-feg/tools/cooja/contiki_tests/20.csc;/home/rjlmota/GERCOM/SBCUP/contiki/tools/csc/20.csc;/home/rjlmota/GERCOM/contiki-standard/tools/cooja/contiki_tests/20.csc;/home/rjlmota/GERCOM/contiki-standard/tools/cooja/contiki_tests/40.csc
COMPILE_LAST_FILE=[CONTIKI_DIR]/examples/er-rest-example-harvesting/er-example-server.c
SHOW_QUICKHELP=false
FRAME_HEIGHT=2147483647
FRAME_SCREEN=\:0.0
FRAME_POS_Y=24
FRAME_POS_X=65
EXECUTE_JAR_LAST=/home/rjlmota/GERCOM/SBCUP/contiki/tools/cooja/contiki_tests/10_1.jar
DEFAULT_PROJECTDIRS=
