
#MODE Selection

#MODE=ROUTER
#MODE=SMART-BRIDGE
#MODE=TRANSPARENT-BRIDGE

# Raw Ethernet / TAP selection
#RAW_ETH=0
#RAW_ETH=1

#RAW Ethernet mode
#DEV_ETH=eth0
#RAW_ETH_FCS=0
#RAW_ETH_FCS=1

#TAP mode
#DEV_TAP=tap0

#SLIP Radio configuration

#Serial over USB
#DEV_RADIO=/dev/ttyUSB0
#ARM platform serial port
#DEV_RADIO=/dev/ttyAMA0

#SLIP Radio baudrate
BAUDRATE=115200

#NVM File
#NVM=/etc/6lbr/nvm.dat

#Startup/shutdown
#IFUP=/usr/lib/6lbr/6lbr-ifup
#IFDOWN=/usr/lib/6lbr/6lbr-ifdown

#Extra parameters
EXTRA_PARAMS=
